/*

Colors:
	Body 		: #333

	Dark 		: #15161D ##1E1F29
	Grey 		: #E4E7ED #FBFBFC #8D99AE #B9BABC

Fonts: Montserrat

*/
/*-----------------
	Typography
-------------------*/
body {
  color: #333;
}

.navbar__wraper {
  display: flex;
  flex-direction: column;
}

.navbar__bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 2rem;
  border-bottom: 0.1rem solid;
  border-color: rgb(221, 221, 221);
}
.navbar__bottom .navbar__filter {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  position: relative;
  padding-bottom: 0.3rem;
  text-decoration: none;
  color: black;
}
.navbar__bottom .navbar__filter:hover {
  cursor: pointer;
  color: #D10024;
}
.navbar__bottom .navbar__filter:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #D10024;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar__bottom .navbar__filter:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar__top {
  background-color: rgb(21, 22, 29);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  border-bottom: 3px solid;
  border-color: #D10024;
  padding-right: 2rem;
}
.navbar__top .navbar__sitelogo img {
  width: 20rem;
  padding-left: 2rem;
}
.navbar__top .navbar__sitelogo img .sitelogo__link:hover {
  cursor: pointer;
}
.navbar__top .navbar__searchbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40rem;
}
.navbar__top .navbar__searchbar .searchbar__select {
  padding: 0px 15px;
  background: white;
  border: 1px solid rgb(221, 221, 221);
  height: 40px;
  border-radius: 40px 0px 0px 40px;
}
.navbar__top .navbar__searchbar .searchbar__input {
  height: 38px;
  padding: 0px 15px;
  border: 1px solid rgb(221, 221, 221);
  background-color: white;
  width: 100%;
}
.navbar__top .navbar__searchbar .searchbar__button {
  height: 40px;
  width: 100px;
  background: #D10024;
  color: white;
  font-weight: 800;
  border: none;
  border-radius: 0px 40px 40px 0px;
  padding: 12px 12px 30px;
  text-align: center;
  -webkit-transition: 0.2;
}
.navbar__top .navbar__searchbar .searchbar__button:hover {
  cursor: pointer;
}
.navbar__top .navbar__user {
  display: flex;
}
.navbar__top .navbar__user .user__iconcontainer {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navbar__top .navbar__user .user__iconcontainer .user__link {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  transition: ease-in-out 0.3s;
}
.navbar__top .navbar__user .user__iconcontainer .user__link .user__icon {
  font-size: 1.8rem;
}
.navbar__top .navbar__user .user__iconcontainer .user__link .user__icon--title {
  color: white;
  font-size: 12px;
  font-weight: 300;
  margin-top: 0.2rem;
  margin-bottom: 0;
}
.navbar__top .navbar__user .user__iconcontainer .user__link .qty {
  position: relative;
  left: 3rem;
  top: -3.5rem;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  border-radius: 50%;
  font-size: 0.7rem;
  color: white;
  background-color: #D10024;
  margin: 0;
}
.navbar__top .navbar__user .user__iconcontainer .user__link:hover {
  cursor: pointer;
  color: #D10024;
  transition: ease-in-out 0.3s;
}

/*# sourceMappingURL=Navbar.css.map */
