/*

Colors:
	Body 		: #333

	Dark 		: #15161D ##1E1F29
	Grey 		: #E4E7ED #FBFBFC #8D99AE #B9BABC

Fonts: Montserrat

*/
/*-----------------
	Typography
-------------------*/
body {
  color: #333;
}

.product__cardwraper {
  width: 17rem;
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
}
.product__cardwraper .product__card {
  border: solid 0.1rem;
  border-color: rgb(221, 221, 221);
  background-color: white;
  box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  transition: 0.2s all;
}
.product__cardwraper .product__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 2rem;
}
.product__cardwraper .product__header .wishlist:hover {
  color: #D10024;
  cursor: pointer;
  transition: 0.2s all;
}
.product__cardwraper .product__header .product__label {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.product__cardwraper .product__header .product__label .sale {
  border: 0.15rem solid;
  border-color: #D10024;
  color: #D10024;
  padding: 0.15rem 0.1rem;
  font-size: 0.8rem;
  margin: 0;
  margin-right: 0.3rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__cardwraper .product__header .product__label .new {
  background-color: #D10024;
  border-color: #D10024;
  color: white;
  padding: 0.15rem 0.1rem;
  font-size: 0.8rem;
  margin: 0;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__cardwraper .product__img {
  width: 100%;
  position: relative;
}
.product__cardwraper .product__category {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #8D99AE;
  margin: 0;
  margin-bottom: 0.5rem;
}
.product__cardwraper .product__name {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
  margin: 0;
}
.product__cardwraper .product__name:hover {
  color: #D10024;
  transition: 0.2s all;
}
.product__cardwraper .product__price {
  color: #D10024;
  font-weight: 700;
}
.product__cardwraper .addtocart {
  width: 17rem;
  height: 5rem;
  color: #D10024;
  background-color: #1e1f29;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #1e1f29;
  position: relative;
  top: -5rem;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.5s, opacity 0.5s;
  z-index: -1;
}
.product__cardwraper .addtocart .addtocart__btn {
  background-color: #D10024;
  color: white;
  border: none;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 10rem;
  border-radius: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
}
.product__cardwraper .addtocart .addtocart__btn:hover {
  background-color: white;
  color: #D10024;
  cursor: pointer;
  transition: 0.2s all;
}
.product__cardwraper .addtocart .addtocart__icon {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  margin-right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__card:hover {
  cursor: pointer;
  transition: 0.2s all;
  border: solid 0.1rem #D10024;
}

.product__cardwraper:hover .addtocart {
  opacity: 1;
  transform: translateY(100%);
  transition: 0.2s all;
  z-index: 1;
}

/*# sourceMappingURL=Product.css.map */
