/*

Colors:
	Body 		: #333
	
	Dark 		: #15161D ##1E1F29
	Grey 		: #E4E7ED #FBFBFC #8D99AE #B9BABC

Fonts: Montserrat

*/


$background-color: rgb(21,22,29);
$main-color: #D10024;
$headers:  #2B2D42;
$lightgrey: rgb(221, 221, 221);
$dark: #15161D #1E1F29;
$grey : #8D99AE;




/*-----------------
	Typography
-------------------*/

body {
    // font-family: 'Montserrat', sans-serif;
    // font-weight: 400;
    color: #333;
}
  


